.navbar {
    -fx-background-color: #200f45;
}

.day-box {
    -fx-border-color: #666464;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-background-color: #f9f9f9;
}

.day-box-entered {
    -fx-background-color: #200f45;
}

.text-white {
    -fx-text-fill: white;
}

.event-dot {
    -fx-font-size: 20px;
}

.evt-box {
    -fx-background-color: #200f45;
}